<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="layoutHtmlPath" value="file:/C://Users//bendery//Desktop//WPF_Chromium//my-gst-webrtc//js/layout.html"/>
    <add key="signallingServerUrl" value="https://192.168.136.152:8443"/>
  </appSettings>
</configuration>